.elementor-110 .elementor-element.elementor-element-7da26bc3 {
  padding: 0px 0px 90px 0px;
}
.elementor-110
  .elementor-element.elementor-element-5df76801
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110
  .elementor-element.elementor-element-3a1fc232
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110
  .elementor-element.elementor-element-11eaeffb
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  border-style: none;
  border-radius: 1px 1px 1px 1px;
}
.elementor-110 .elementor-element.elementor-element-11eaeffb p {
  font-size: 18px;
}
.elementor-110 .elementor-element.elementor-element-6b0da7ce {
  margin-top: 0px;
  margin-bottom: -150px;
}
.elementor-110
  .elementor-element.elementor-element-469d060a
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110 .elementor-element.elementor-element-3563afa p b {
  font-size: 25px;
}
.elementor-110 .elementor-element.elementor-element-3563afa p {
  font-size: 18px;
}
.elementor-110 .elementor-element.elementor-element-1d63b0e p b {
  font-size: 25px;
}
.elementor-110
  .elementor-element.elementor-element-2821bed1
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110 .elementor-element.elementor-element-f0805e3 p b {
  font-size: 25px;
}
.elementor-110 .elementor-element.elementor-element-f0805e3 p {
  font-size: 18px;
}
.elementor-110
  .elementor-element.elementor-element-20c6228
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110 .elementor-element.elementor-element-20c6228 {
  z-index: 99;
}
.elementor-110
  .elementor-element.elementor-element-2202811
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 15px 0px 15px 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cccccc;
}
.elementor-110 .elementor-element.elementor-element-2202811 {
  z-index: 10;
}
.elementor-110
  .elementor-element.elementor-element-2202811.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-110 .elementor-element.elementor-element-2202811 p b {
  font-size: 25px;
}
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  textarea,
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="text"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="email"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="email"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="text"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  textarea,
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="password"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="url"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="date"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="number"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  .form-control,
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  form
  select,
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="tel"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="password"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="url"],
.elementor-110 .elementor-element.elementor-element-2202811 input[type="date"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="number"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="radio"]:before,
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="radio"]:before,
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="checkbox"]:before,
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  input[type="checkbox"]:before,
.elementor-110
  .elementor-element.elementor-element-2202811
  .vc_template
  input[type="file"],
.elementor-110
  .elementor-element.elementor-element-2202811
  .dark-version
  .vc_template
  input[type="file"] {
  border-color: #cccccc;
}
.elementor-110 .elementor-element.elementor-element-c347acb {
  margin-top: -150px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-110
  .elementor-element.elementor-element-b546ebe.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-110
  .elementor-element.elementor-element-b546ebe
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110 .elementor-element.elementor-element-524889a {
  z-index: 3;
}
.elementor-110
  .elementor-element.elementor-element-524889a
  .leaflet-popup-content-wrapper {
  background: #b19777;
}
.elementor-110
  .elementor-element.elementor-element-40bd7e8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-110
  .elementor-element.elementor-element-40bd7e8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("<?php echo $url; ?>/wp-content/uploads/2022/07/4-scaled-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-110
  .elementor-element.elementor-element-40bd7e8
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.3;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-110 .elementor-element.elementor-element-40bd7e8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 90px 0px 0px 0px;
  z-index: 1;
}
.elementor-110
  .elementor-element.elementor-element-e8cae17
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110 .elementor-element.elementor-element-3ba0412 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-110
  .elementor-element.elementor-element-ae5d58f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-110
  .elementor-element.elementor-element-ae5d58f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-110
  .elementor-element.elementor-element-ae5d58f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-110
  .elementor-element.elementor-element-ae5d58f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110
  .elementor-element.elementor-element-60c661e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-110 .elementor-element.elementor-element-60c661e .section-title {
  color: #dbdbdb;
}
.elementor-110 .elementor-element.elementor-element-60c661e .section-title2 {
  color: #dbdbdb;
}
.elementor-110 .elementor-element.elementor-element-60c661e .section-title,
.elementor-110 .elementor-element.elementor-element-60c661e .section-title2 {
  font-size: 30px;
}
.elementor-110
  .elementor-element.elementor-element-1af5ccd
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110
  .elementor-element.elementor-element-1686f18
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-110
  .elementor-element.elementor-element-1686f18
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-110
  .elementor-element.elementor-element-1686f18
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-110
  .elementor-element.elementor-element-946b7d3
  > .elementor-widget-container {
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 60px 0px 0px 40px;
  border-style: none;
}
.elementor-110
  .elementor-element.elementor-element-946b7d3.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-110
  .elementor-element.elementor-element-946b7d3
  .elementor-heading-title {
  color: #000000;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 4.1px;
}
.elementor-110 .elementor-element.elementor-element-e930c2d {
  --divider-border-style: solid;
  --divider-color: #dddddd;
  --divider-border-width: 1px;
}
.elementor-110
  .elementor-element.elementor-element-e930c2d
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 0px 40px 0px 40px;
}
.elementor-110
  .elementor-element.elementor-element-e930c2d.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-110
  .elementor-element.elementor-element-e930c2d
  .elementor-divider-separator {
  width: 100%;
}
.elementor-110 .elementor-element.elementor-element-e930c2d .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  > .elementor-widget-container {
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 150px 0px;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper {
  background-color: #fff;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .center
  .testimoni-wrapper,
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper:hover {
  background-color: #fff;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .center
  .testimoni-wrapper,
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper:hover:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .testimony {
  color: #676767;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .author
  .name {
  color: #b19777;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .author
  .designation {
  color: #989898;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .testimony:before {
  color: #f1f1f1;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .author:before {
  border-bottom-color: #f1f1f1;
}
.elementor-110
  .elementor-element.elementor-element-5d234c4
  .tgx-testimonial-1
  .testimoni-wrapper
  .author {
  border-top: 1px solid #f1f1f1;
}
.elementor-110
  .elementor-element.elementor-element-0c0f1d7
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-110
  .elementor-element.elementor-element-7e388002:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-110
  .elementor-element.elementor-element-7e388002
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-110 .elementor-element.elementor-element-7e388002 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
  z-index: 0;
}
.elementor-110
  .elementor-element.elementor-element-7e388002
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-110 .elementor-element.elementor-element-0b39f98 {
  --spacer-size: 57px;
}
.elementor-110
  .elementor-element.elementor-element-0135d7b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-110
  .elementor-element.elementor-element-0135d7b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-110 .elementor-element.elementor-element-0135d7b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 28px 0px;
}
.elementor-110
  .elementor-element.elementor-element-0135d7b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-110 .elementor-element.elementor-element-98a64db {
  --e-image-carousel-slides-to-show: 6;
}
.elementor-110
  .elementor-element.elementor-element-98a64db
  > .elementor-widget-container {
  padding: 10px 0px 0px 0px;
}
.elementor-110 .elementor-element.elementor-element-98a64db .swiper-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .elementor-110 .elementor-element.elementor-element-20c6228 {
    z-index: 5;
  }
}
@media (min-width: 768px) {
  .elementor-110 .elementor-element.elementor-element-b546ebe {
    width: 100%;
  }
  .elementor-110 .elementor-element.elementor-element-ae5d58f {
    width: 50%;
  }
  .elementor-110 .elementor-element.elementor-element-1af5ccd {
    width: 7.666%;
  }
  .elementor-110 .elementor-element.elementor-element-1686f18 {
    width: 41.66667%;
  }
}
@media (min-width: 1025px) {
  .elementor-110
    .elementor-element.elementor-element-40bd7e8:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-110
    .elementor-element.elementor-element-40bd7e8
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
